@font-face {
   font-family: 'Roboto';
   src: url('/assets/fonts/Roboto-Regular.ttf');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: url('/assets/fonts/Montserrat-SemiBold.ttf');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Poppins';
   src: url('/assets/fonts/Poppins-Regular.ttf');
   font-style: normal;
   font-weight: 100;
   font-display: swap;
}

@font-face {
   font-family: 'Poppins-Medium';
   src: url('/assets/fonts/Poppins-Medium.ttf');
   font-style: normal;
   font-weight: 100;
   font-display: swap;
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

h3 {
   margin: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

.tox-tbtn {
   height: 34px !important;
   padding: 0 4px !important;
   width: 25px !important;
}

.tox-notification {
   display: none !important;
}

.tox-tinymce {
   margin-top: 8px;
   box-sizing: border-box;
   height: 210px;
   width: 100%;
   border: 1px solid #dddddd;
   border-radius: 8px;
   background-color: #ffffff;
   color: #757575;
   font-size: 14px;
   margin-bottom: 2vh;
}

#tinymce.mce-content-body > p {
   color: #757575;
   font-size: 14px;
}

.clearfix::after {
   content: '';
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/** Carousel **/

.carousel {
   position: absolute !important;
   /* padding-top: 1em; */
}

.slider-wrapper > li {
   background: white;
   height: 25em;
}

.control-dots {
   display: none;
}

.carousel-status {
   display: none;
}

.control-next:before {
   /* content: url('../../utils/icon/forwardArrow.svg') !important; */
   width: 2em;
   border-left: none !important;
   animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

[dir='rtl'] .control-next:before {
   /* content: url('../../utils/icon/forwardArrow.svg') !important;  */
   width: 2em;
   border-left: none !important;
   animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.control-arrow {
   display: none;
   top: -8em !important;
}

.control-arrow:hover {
   background: none;
}

.carousel {
   width: 270px;
   height: 361px;
}

.carousel__inner-slide {
   width: calc(100% - 5px);
   /* height: calc(100% - 5px); */
   height: 361px;
}

.horizontalSlider {
   height: 391px !important;
}

.carousel__slider {
   height: 391px !important;
}

.carousel__slider--horizontal {
   height: 391px !important;
}

.root-portal {
   /* position: fixed; */
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999 !important;
}

.ReactModal__Content--after-open {
   inset: 50% auto auto 50% !important;
   justify-content: flex-start !important;
   transform: translate(-50%, -50%) !important;
   z-index: 999 !important;
   height: 90vh !important;
   width: 95vw !important;
   border-radius: 0.28571429rem !important;
   overflow: hidden !important;
   box-shadow: rgb(0 0 0 / 40%) 0px 11px 41px 22px;
   border: none !important;
}

/* width */
.ReactModal__Content--after-open::-webkit-scrollbar {
   width: 1vw;
}

/* Track */
.ReactModal__Content--after-open::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}

/* Handle */
.ReactModal__Content--after-open::-webkit-scrollbar-thumb {
   background: #44a1a2;
   border-radius: 10px;
}

.ReactModal__Overlay--after-open {
   z-index: 999 !important;
   /* top: 82px;
   height: calc(100vh - 82px); */
}
