@use "../../styles/variables" as v;
@import "../../styles/mixins";

.headerContainer {
    height: auto;
    width: 100%;
    max-width: 80vw;
    margin: 2em auto;
    padding: v.$sizeXS v.$sizeXS;
    border-radius: v.$radiusLower;
    border: v.$border125;
    background-color: v.$white100;
    // position: relative;
    box-shadow: v.$shadow-all2;
    overflow-x: hidden;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        li{
            margin: v.$sizeS v.$sizeL;
            padding: v.$sizeXS;
            border-radius: v.$radiusMid;
            background-color: v.$gray200;
            text-decoration: none;
            list-style: none;
            box-shadow: v.$shadow-all2;
            font-size: v.$sizeM;
            & a{
                width: 100%;
                height: 100%;
                // display: block;
            }

            &:hover{
                cursor: pointer;
                transition: all;
                color: white;
                transform: scaleX(1);
                background-color: #214f61;
            }
        }
    }


    svg{
        width: 2em;
        height: 2em;
        color: v.$gray400;
        margin-right: 2em;
        &:hover{
            cursor: pointer;
            color: #214f61;
        }
        
    }
 }